{% extends 'base.html' %}
    {% block content %}
    <h2>Cadastrar OS</h2>
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="nome">Cliente: {{cliente.nome}}</label>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="equipamento">Equipamento:</label>
            <input class="form-control" type="text" name="equipamento">
        </div>
        <div class="mb-3">
            <label class="form-label" for="marca">Marca:</label>
            <input class="form-control" type="text" name="marca">
        </div>
        <div class="mb-3">
            <label class="form-label" for="modelo">Modelo:</label>
            <input class="form-control" type="text" name="modelo">
        </div>
        <div class="mb-3">
            <label class="form-label" for="defeito">Defeito:</label>
            <textarea class="form-control" name="defeito" id="defeito" placeholder="Digite aqui o defeito..."></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label" for="status">Status:</label>
            <input class="form-control" type="text" name="status">
        </div>
        
        <button class="btn btn-primary" type="submit">Salvar OS</button>
    </form>
    {% endblock %}
