{% extends 'base.html' %}
    {% block content %}
    
    <div class="card">
        <h5 class="card-title">
            <strong>Informações do cliente</strong>
        </h5>
        <div class="card-body">
            <div class="card-title">Nome: {{cliente.nome}}</div>
            <div class="card-text">Telefone Celular: {{cliente.telefone_celular}}<br>Telefone auxiliar: {{cliente.telefone_auxiliar}}</div>
            <div class="card-text">Endereço: {{cliente.logradouro}}, Nº{{cliente.numero}}, Bairro: {{cliente.bairro}}<br>{{cliente.cidade}} - {{cliente.estado}}</div>
        </div>
    </div><br>
    <h2>Cadastrar OS</h2>
    <form method="post">        
        <div class="mb-3">
            <label class="form-label" for="equipamento">Equipamento:</label>
            <input class="form-control" type="text" name="equipamento">
        </div>
        <div class="mb-3">
            <label class="form-label" for="marca">Marca:</label>
            <input class="form-control" type="text" name="marca">
        </div>
        <div class="mb-3">
            <label class="form-label" for="modelo">Modelo:</label>
            <input class="form-control" type="text" name="modelo">
        </div>
        <div class="mb-3">
            <label class="form-label" for="defeito">Defeito:</label>
            <textarea class="form-control" name="defeito" id="defeito" placeholder="Digite aqui o defeito..."></textarea>
        </div>
        <select class="form-select mb-3" name="status" aria-label="Selecione exemplo padrao">
            <option selected>Status da OS:</option>
            <option value="Pendente">Pendente</option>
            <option value="Aguardando aprovação">Aguardando aprovação</option>
            <option value="Aprovado">Aprovado</option>
            <option value="Em andamento">Em andamento</option>
            <option value="Aguardando pagamento">Aguardando pagamento</option>
            <option value="Concluído">Concluído</option>
            <option value="Garantia">Garantia</option>
            <option value="Cancelado">Cancelado</option>
        </select>
       
        
        <button class="btn btn-primary" type="submit">Salvar OS</button>
    </form>
    {% endblock %}
