{% extends 'base.html' %}
{% block content %}
<div class="text-md-start">
  <button class="btn btn-secondary btn-sm px-4" onclick="retornar()">Voltar</button>
</div>
<div class="d-flex justify-content-center">
  <div class="card shadow-sm w-100 mx-auto my-4" style="max-width: 600px;">
    <div class="card-header text-center bg-primary text-white fw-bold">
      Etapa 1 — Dados Pessoais
    </div>
    <div class="card-body">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ form.nome.label(class='form-label fw-semibold') }}
          {{ form.nome(class='form-control') }}
          {% for error in form.nome.errors %}
          <small class="text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="mb-3">
          {{ form.estado_civil.label(class='form-label fw-semibold') }}
          {{ form.estado_civil(class='form-control') }}
          {% for error in form.estado_civil.errors %}
          <small class="text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="mb-3">
          {{ form.idade.label(class='form-label fw-semibold') }}
          {{ form.idade(class='form-control') }}
          {% for error in form.idade.errors %}
          <small class="text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="mb-3">
          {{ form.endereco.label(class='form-label fw-semibold') }}
          {{ form.endereco(class='form-control') }}
          {% for error in form.endereco.errors %}
          <small class="text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="mb-3">
          {{ form.telefone_principal.label(class='form-label fw-semibold') }}
          {{ form.telefone_principal(class='form-control', id='telefone_principal') }}
          {% for error in form.telefone_principal.errors %}
          <small class="text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="mb-3">
          {{ form.email.label(class='form-label fw-semibold') }}
          {{ form.email(class='form-control') }}
          {% for error in form.email.errors %}
          <small class="text-danger">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="d-grid">
          {{ form.submit(class='btn btn-primary') }}
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    // Espera a página carregar completamente
    document.addEventListener('DOMContentLoaded', (event) => {
      const telElement = document.getElementById('telefone_principal');
      if (telElement) {
        const telMask = IMask(telElement, {
          mask: '(00) 00000-0000',
          maxLength: 11
        });
      }
    });
</script>
{% endblock %}