{% extends 'base_publica.html' %}

{% block content %}
<div class="table-responsive">
        <table class="table table-sm table-hover table-striped align-middle">
          <thead class="table-title">
            <tr class="text-center">
              <th>Número OS</th>
              <th>Nome Cliente</th>
              <th>Equipamento</th>
              <th>Valor total</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
            {% for ordem in current_user.ordens_servico %}
            <tr class="text-center">
              <td>{{ ordem.numero_formatado }}</td>
              <td>{{ ordem.cliente.nome }}</td>
              <td>{{ ordem.equipamento }}</td>
              <td>R$ {{ "%.2f"|format(ordem.valor_calculado|float) }}</td>
              <td>
                <a href="{{url_for('ver_os_cliente', id=ordem.id)}}" class="btn btn-sm btn-primary"><i class="bi bi-eye"></i></a>
                <a href="{{url_for('exibir_pdf_os', os_id=ordem.id)}}" class="btn btn-sm btn-primary"><i class="bi bi-file-earmark-pdf-fill"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

{% endblock %}