{% extends 'base.html' %}

{% block content %}
<h2>Detalhes OS</h2>
<form method="post">
    <div class="mb-3">
    <label class="form-label" for="nome">Cliente: {{ordem_servico.cliente.nome}}</label>
    </div>
    <div class="mb-3">
    <label class="form-label" for="equipamento">Equipamento:</label>
    <input class="form-control" type="text" name="equipamento" value="{{ordem_servico.equipamento}}">
    </div>

    <div class="mb-3">
    <label class="form-label" for="marca">Marca:</label>
    <input class="form-control" type="text" name="marca" value="{{ordem_servico.marca}}">
    </div>

    <div class="mb-3">
    <label class="form-label" for="modelo">Modelo:</label>
    <input class="form-control" type="text" name="modelo" value="{{ordem_servico.modelo}}">
    </div>

    <div class="mb-3">
    <label class="form-label" for="defeito">Defeito:</label>
    <textarea class="form-control" name="defeito" id="defeito">{{ordem_servico.defeito}}</textarea>
    </div>

    <div class="mb-3">
    <label class="form-label" for="status">Status:</label>
    <input class="form-control" type="text" name="status" value="{{ordem_servico.status}}">
    </div>
    
    <button class="btn btn-primary" type="submit">Salvar OS</button>
    <a class="btn btn-primary" href="{{url_for('deletar_os', id=ordem_servico.id)}}">Excluir</a>
</form>
{% endblock %}