{% extends 'base.html' %}

{% block content %}
<h2>Cliente - Detalhes</h2><br>
<div class="card">
    <div class="card-body">
        <div class="card-title">Nome: {{cliente_a_detalhar.nome}}</div>
        <div class="card-text">telefone: {{cliente_a_detalhar.telefone_celular}}</div>
    </div>
</div><br>

<a href="{{ url_for('cadastrar_os', cliente_id=cliente_a_detalhar.id) }}" class="btn btn-primary">Novo Pedido</a><br>
<h3>Pedidos</h3>
<table class="table table-hover table-striped" >
    <thead>
        <tr>
            <th>Equipamento</th>
            <th>Defeito</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ordens in ordens_servico %}
        <tr>
            <td>
                {{ordens.equipamento}}
            </td>
            <td>
                {{ordens.defeito}}
            </td>
            <td>
                {{ordens.status}}
            </td>
            <td>
                <a class="btn btn-primary" href="{{url_for('detalhes_os', id = ordens.id)}}">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}