{% extends 'base.html' %}

    {% block content %}
    <h1>Editar Cliente</h1>
    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="nome">Nome:</label>
            <input class="form-control type="text" id="nome" name="nome" value="{{cliente_a_editar.nome}}" required><br><br>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="telefone">Telefone:</label>
            <input class="form-control type="tel" id="telefone" name="telefone" value="{{cliente_a_editar.telefone_celular}}"><br><br>
        </div>
        
        <button class="btn btn-primary" type="submit">Salvar Cliente</button>
    </form>
    {% endblock %}