{% extends 'base.html' %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-title">
                Total de Clientes
            </div>
            <div class="card-body">
                <p class="card-text display-4">
                    {{ total_clientes }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-center">
            <div class="card-title">
                Ordens de Serviço Abertas
            </div>
            <div class="card-body">
                <p class="card-text display-4">
                    {{ ordens_abertas }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card p-5 shadow-sm text-center">
      <h1 class="display-5 fw-bold mb-3">Oficina do Micro</h1>
      <p class="lead">Sistema de gerenciamento de Clientes e Ordens de Serviço.</p>
    </div>
  </div>
</div>

{% endblock %}

