{% extends 'base.html' %}

{% block content %}
<h1>Lista de Clientes</h1>
<table class="table table-hover table-striped" >
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes%}
            <tr>
                <td>
                    <a href="{{url_for('detalhes_cliente', id=cliente.id)}}">{{cliente.nome}}</a>
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{url_for('editar_cliente', id=cliente.id)}}">Editar</a>
                    <a class="btn btn-danger btn-sm" href="{{url_for('deletar_cliente', id=cliente.id)}}">Excluir</a>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}
