{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-start">
    <a href="{{ request.referrer or url_for('dashboard') }}" class="btn btn-sm btn-secondary">
        Voltar
    </a>
</div>

<h1>Lista de Serviços</h1>
<table class="table table-hover table-striped" >
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for servico in servicos %}
            <tr>
                <td>
                    {{servico.descricao_servico}}
                </td>
                <td>
                    R$ {{ "%.2f"|format(servico.preco_unitario|float) }}
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" href="{{url_for('editar_servico', id=servico.id)}}">Editar</a>
                    <a class="btn btn-danger btn-sm" href="{{url_for('deletar_servico', id=servico.id)}}">Excluir</a>
                </td>
            </tr>
        {%endfor%}
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-sm" href="{{ url_for('cadastrar_servico') }}">
        Cadastrar Serviço
    </a>
</div>

{% endblock %}